body{
    background-color: rgb(255, 255, 255);
    background-image: url(habits.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


article{
    border: black 4px solid;
    margin-top: 10px;
}

main{ 
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.divflex{
    display: contents;
}

.navbar-brand{
    padding-top:5px;
    color: white; 
    font-weight: bold;
    text-decoration: none; 
    font-size: 54px;
    margin-left:2%;
}
.nav-link{
    font-size: 24px;
}